* {
  padding: 0px;
  margin: 0px;
  background-color: hsla(16, 34%, 70%, 1);
}

/* nav bar */
nav {
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  background-color: white;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 17px;
}

/* footer */

footer {
  bottom: 0;
  list-style: none;
  margin: 0;
  text-align: center
  
}

footer li {
  display: inline;
}

footer a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 17px;
}

li a:hover {
  background-color: lightgrey;
}
