* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: hsla(16, 34%, 70%, 1);
}

/* nav bar */
nav {
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}

ul {
  background-color: white;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 17px;
  background-color: white;
}

/* about me section */
.about-me {
  text-align: center;
}

/* footer */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  background-color: white;
  text-align: center;
}

.f-text {
  color: black;
}
/* image text */
.image-text {
  background-image: url(https://cdn.glitch.global/46829fa4-10a5-43d7-b4ca-539bca7093d9/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDA1LXguanBn.jpg.webp?v=1689705382930);
  padding: 3em;
  text-align: center;
  box-shadow: black;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.image-text a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: black;
}


/* hover over buttons */
li a:hover {
  background-color: hsla(16, 34%, 70%, 1);
}

.image-text a:hover {
  color: white;
}