* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: hsla(16, 34%, 70%, 1);
}

/* nav bar */
nav {
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}

ul {
  background-color: white;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 17px;
  background-color: white;
  transition-duration: 0.4s;
  
}

/* home page  */
/* image text */
.image-text {
  background-image: url(https://cdn.glitch.global/46829fa4-10a5-43d7-b4ca-539bca7093d9/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDA1LXguanBn.jpg.webp?v=1689705382930);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 11em;
  text-align: center;
  box-shadow: black;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-shadow: 1px 1px 5px white;
}

.image-text a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  color: black;
}

/* about me section */
.about-me {
  text-align: center;
  display: flex;
  flex-basis: 40%;
  justify-content: center;
  padding: 4em 0.5em 3em 0.5em;
  text-shadow: 1px 1px 10px white;
}

#about-header {
  text-align: center;
  padding-top: 3em;
  text-shadow: 1px 1px 10px white;
}

#introduction {
  padding-left: 6em;
  padding-top: 1em;
  line-height: 3;
  font-size: 20px;
  width: 46%;
}

#about-image {
  min-width: 227px;
  box-shadow: 0px 0px 30px white;
}

button {
  background-color: white;
  border: 3px solid black;
  padding: 10px 34px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  margin-bottom: 3em;
  position: relative;
  top: 50%;
  left: 40%;
}

#resume-button {
  margin-left: 2em;
  color: black;
}

button:hover {
  background-color: hsla(22, 47%, 73%, 1);
}

/* projects */

#project-header {
  background-image: url(https://cdn.glitch.global/46829fa4-10a5-43d7-b4ca-539bca7093d9/a77814641836e8b18a646822c055cb84.jpg?v=1689793983841);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 15px white;
}

.project-main {
  text-align: center;
}

h2 {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 500;
  padding: 1em;
}

#pj-desc {
  text-align: center;
  color: white;
  padding-top: 3em;
}

/* contact */

.contact-header {
  background-image: url("https://cdn.glitch.global/46829fa4-10a5-43d7-b4ca-539bca7093d9/rm336-jj-012_1_1.jpg?v=1689727381933");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 20px white;
  
}

.contact-main {
  text-align: center;
}

/* footer */

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5em;
  background-color: white;
  text-align: center;
}

.f-text {
  color: black;
}

/* hover over buttons */

li a:hover {
  background-color: hsla(16, 34%, 70%, 1);
}

.image-text a:hover {
  color: white;
}